.wrapper {
	position: relative;
	max-width: 1502px;
	margin: 0 auto;
	min-width: 300px;
	&__image {
		z-index: -1;
		display: block;
		width: 100%;
		@include device(medium) {
			object-fit: cover;
			height: 613px;
		}
	}
	&__container {
		position: absolute;
		height: 100%;
		left: 0;
		top: 0;
		overflow: hidden;
		width: 100%;
	}
}
