.btn {
	border-style: none;
	background-color: $button-color;
	font-weight: 500;
	font-size: clamp(12px, 1.34vw, 20px);
	line-height: clamp(14px, 1.6vw, 24px);
	letter-spacing: 0.05em;
	text-transform: capitalize;
	margin-top: 7.6389%;
	margin-left: 7.4074%;
	padding: clamp(6px, 0.74vw, 11px) clamp(15px, 1.87vw, 28px);
}
