.burger-menu {
	display: none;
	margin-right: 22px;
	background-color: transparent;
	@include device(small) {
		display: flex;
		height: min-content;
		flex-direction: column;
		gap: 8px;
		padding-top: 10px;
	}
	&__line {
		height: 2px;
		width: 25px;
		background-color: $main-color;
		transition-duration: 0.3s;
	}
	&:hover {
		cursor: pointer;
	}
	&:hover & {
		&__line--one {
			transform: translateX(-6px);
		}
		&__line--two {
			transform: translateX(3px);
		}
		&__line--three {
			transform: translateX(-6px);
		}
	}
}
