.burger-menu {
	display: none;
	@include burger-element();
	margin-top: 19px;
	margin-right: 22px;
	&::before {
		@include burger-element(absolute, -9px);
	}
	&::after {
		@include burger-element(absolute, 9px);
	}
	@include device(small) {
		display: block;
	}
}
