.ellipse {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	height: clamp(29px, 3.87vw, 58px);
	width: clamp(29px, 3.87vw, 58px);
	background-color: $main-color;
	@include hover;
	&--left,
	&--right {
		@include ellipse-content($width: 37.93%);
	}
	&--play {
		@include ellipse-content($width: 31.03%, $scale: 1.4);
		img {
			padding-left: 8.97%;
		}
	}
}
