.ellipse {
	display: flex;
	justify-content: center;
	align-items: center;
	width: clamp(29px, 3.87vw, 58px);
	height: clamp(29px, 3.87vw, 58px);
	background-color: $main-color;
	border-radius: 50%;
	@include hover;
	&--right,
	&--left {
		@include ellipse-content($width: 37.93%);
	}
	&--play {
		@include ellipse-content($width: 31.03%, $scale: 1.4);
		img {
			padding-left: 8.97%;
		}
	}
}
