.menu {
	display: flex;
	gap: clamp(20px, 4.67vw, 70px);
	font-weight: 700;
	font-size: clamp(13px, 1.47vw, 22px);
	line-height: clamp(16px, 1.8vw, 27px);
	letter-spacing: 0.05em;
	text-transform: capitalize;
	margin-top: 5px;
	&__submenu img {
		display: inline-block;
		width: clamp(12px, 1.47vw, 22px);
		margin-left: clamp(10px, 1.27vw, 19px);
	}
}
