.portrait {
	display: flex;
	&__image {
		width: clamp(150px, 17.12vw, 257px);
	}
	&__text {
		width: clamp(120px, 28.77vw, 432px);
		background-color: $text-bg-color;
		color: $secondary-color;
		text-transform: uppercase;
		h2 {
			margin-left: 7.4074%;
			margin-top: 12.7315%;
			font-size: clamp(12px, 2.34vw, 35px);
			font-weight: 500;
			letter-spacing: 0.05em;
			line-height: clamp(25px, 2.8vw, 42px);
		}
		@include device(medium) {
			display: flex;
			flex-direction: column;
			justify-content: center;
			h2 {
				margin-top: 0;
			}
			.btn {
				width: fit-content;
			}
		}
	}
}
