.video {
	display: flex;
	gap: clamp(13px, 1.67vw, 25px);
	font-weight: 600;
	font-size: clamp(12px, 1.34vw, 20px);
	line-height: clamp(14px, 1.6vw, 24px);
	letter-spacing: 0.15em;
	text-transform: capitalize;
	margin-right: clamp(5px, 2.67vw, 40px);
	margin-bottom: clamp(23px, 2.93vw, 44px);
	padding-right: 6px;
}
