.wrapper {
	position: relative;
	min-width: 300px;
	max-width: 1502px;
	margin: 0 auto;
	&__image {
		display: block;
		z-index: -1;
		width: 100%;
		@media screen and (max-width: 899px) {
			height: 613px;
			object-fit: cover;
		}
	}
	&__container {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}
}
