@mixin burger-element($position: relative, $pxFromTop: unset) {
	@if ($position == absolute) {
		content: '';
	}
	position: $position;
	top: $pxFromTop;
	height: 2px;
	width: 25px;
	background-color: $main-color;
}

@mixin device($size) {
	@media screen and (max-width: map-get($breakpoints, $size)) {
		@content;
	}
}
